<!-- <ion-header  collapse="fade">
  <ion-title>Gkstudio
    <img class="logo-header" src="assets/icon/logogk 2.png" alt="">
  </ion-title>
</ion-header> -->

<ion-header>
  <div class="cor ion-text-end">
      <ion-title style="color: black; text-align: end;">
        GK Studio
      </ion-title>
      <img class="logo-header" src="assets/icon/logogk 2.png" alt="">
  </div>
</ion-header>




<ion-content class="cor-body" [fullscreen]="true">

  <div class="container">
    <div class="side-div">
      seg <br>7
    </div>
    <div class="main-div">
      <h1 style="color: black; text-align: center;">FUNCIONAL</h1>

      <div class="top-div">
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/image 66.png" alt="">
            <span>07h - 08h</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span>03/16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <button style="background-color: #EF7575; height: 50px; border-radius: 5px; width:80%; padding: 10px; color: black;">
              Cancelar Atividade
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div class="bottom-div">
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/image 66.png" alt="">
            <span>07h - 08h</span>
          </ion-col>
        </ion-row>
        <ion-row  style="margin: 25px 0px 25px 0px;">
          <ion-col>TREINO CANCELADO</ion-col>
        </ion-row>
          </div>


      <div class="bottom-div-1">
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/image 66.png" alt="">
            <span>07h - 08h</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span>03/16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:50%; padding: 10px; color: black;">
              alunos
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>





</ion-content>