<app-header></app-header>




<ion-content class="cor-body" [fullscreen]="true">

  <div class="container">
    <div class="side-div">
      seg <br>7
    </div>
    <div class="main-div">
      <h1 style="color: black; text-align: center;">FUNCIONAL</h1>
      <div class="top-div">
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/image 66.png" alt="">
            <span>07h - 08h</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span>03/16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button  id="open-modal" expand="block" style=" height: 50px; border-radius: 5px; width:50%; padding: 10px; color: black;">
              Selecionar alunos
            </ion-button>
            <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title slot="center">Alunos</ion-title>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <ion-list>
                    <!-- <ng-container *ngFor="let aluno of this.alunoService.alunos">
                      <ion-item (click)="convidar(aluno)">
                        <ion-label>
                          {{aluno.nome}}
                        </ion-label>
                      </ion-item>
                    </ng-container> -->
                  </ion-list>
                  <div class="container-button">
                    <ion-button (click)="cancel()">Cancel</ion-button>
                    <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                  </div>
                </ion-content>
              </ng-template>
            </ion-modal>

          </ion-col>
        </ion-row>
      </div>
      <div class="bottom-div">
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/image 66.png" alt="">
            <span>07h - 08h</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span>03/16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:50%; padding: 10px; color: black;">
              alunos
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div class="bottom-div-1">
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/image 66.png" alt="">
            <span>07h - 08h</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span>03/16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:50%; padding: 10px; color: black;">
              alunos
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>





</ion-content>