<app-header></app-header>


<!-- <ion-content class="cor-body" [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="notifications"></ion-icon>
    </ion-fab-button>
  </ion-fab>  


  <div class="adicionar" routerLink="/criar-treino"> 
    <img src="assets/icon/icon +.png" alt="">
  </div>


  <div class="loop">

    // fazer um ngfor
    <div class="container">
    <div class="side-div">
      seg <br>7
    </div>
    <div class="main-div">
      <div class="top-div">
        <ion-row>
          <ion-col>
            <h1>
              FUNCIONAL
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span>16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:auto; padding: 10px; color: black;">
              Confirmar Presença
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div class="bottom-div">
        <ion-row>
          <ion-col>
            <h1>
              KICKBOXING
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span class="ms-2">16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:auto; padding: 10px; color: black;">
              confirmar presença
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div class="bottom-div-1">
        <ion-row>
          <ion-col>
            <h1>
              BOXE
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span class="ms-2">16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:auto; padding: 10px; color: black;">
              confirmar presença
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="side-div">
      ter <br>8
    </div>
    <div class="main-div">
      <div class="top-div">
        <ion-row>
          <ion-col>
            <h1>
              COMPETIDORES
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span>16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:auto; padding: 10px; color: black;">
              Confirmar Presença
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div class="bottom-div">
        <ion-row>
          <ion-col>
            <h1>
              KICKBOXING
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span class="ms-2">16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:auto; padding: 10px; color: black;">
              confirmar presença
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div class="bottom-div-1">
        <ion-row>
          <ion-col>
            <h1>
              BOXE
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span class="ms-2">16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:auto; padding: 10px; color: black;">
              confirmar presença
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>



</ion-content> -->

<ion-content>

  <div class="titulo-atividade" style="margin: 10px 0px; text-align: center;">
    <h1>Atividades</h1>
  </div>

  <div class="container">
    <div *ngFor="let dataAtividade of atividades" class="main-div">
      <aside class="side-div">
        <!-- <span>{{ dataAtividade.data | date: 'fullDate' }}</span> -->
        <span>{{ dataAtividade.data |  date: 'MMM d'}}</span>
      </aside>
      <div class="atividade-container">
        <div *ngFor="let atividade of dataAtividade.atividades" class="atividade-div">
          <div class="top-div">
            <ion-row>
              <ion-col>
                <h1>{{ atividade.titulo }}</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="alinhamento">
                <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
                <span>{{ atividade.participantes }}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-end">
                <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:auto; padding: 10px; color: black;">
                  Confirmar Presença
                </button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
