<!-- <ion-header  collapse="fade">
  <ion-title>Gkstudio
    <img class="logo-header" src="assets/icon/logogk 2.png" alt="">
  </ion-title>
</ion-header> -->

<ion-header>
  <div class="cor ion-text-end">
      <ion-title style="color: black; text-align: end;">
        GK Studio
      </ion-title>
      <img class="logo-header" src="assets/icon/logogk 2.png" alt="">
  </div>
</ion-header>




<ion-content class="cor-body" [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="notifications"></ion-icon>
    </ion-fab-button>
  </ion-fab>  


  <div class="adicionar" routerLink="/criar-treino"> 
    <img src="assets/icon/icon +.png" alt="">
  </div>


  // fazer um ngfor
  <div class="container">
    <div class="side-div">
      seg <br>7
    </div>
    <div class="main-div">
      <div class="top-div">
        <ion-row>
          <ion-col>
            <h1>
              FUNCIONAL
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span>16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:auto; padding: 10px; color: black;">
              Confirmar Presença
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div class="bottom-div">
        <ion-row>
          <ion-col>
            <h1>
              KICKBOXING
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span class="ms-2">16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:auto; padding: 10px; color: black;">
              confirmar presença
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div class="bottom-div-1">
        <ion-row>
          <ion-col>
            <h1>
              BOXE
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span class="ms-2">16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:auto; padding: 10px; color: black;">
              confirmar presença
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="side-div">
      ter <br>8
    </div>
    <div class="main-div">
      <div class="top-div">
        <ion-row>
          <ion-col>
            <h1>
              COMPETIDORES
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span>16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:auto; padding: 10px; color: black;">
              Confirmar Presença
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div class="bottom-div">
        <ion-row>
          <ion-col>
            <h1>
              KICKBOXING
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span class="ms-2">16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:auto; padding: 10px; color: black;">
              confirmar presença
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div class="bottom-div-1">
        <ion-row>
          <ion-col>
            <h1>
              BOXE
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alinhamento">
            <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
            <span class="ms-2">16</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <button style="background-color: #4E905C; height: 50px; border-radius: 5px; width:auto; padding: 10px; color: black;">
              confirmar presença
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>



</ion-content>